.latest-project-area {
    overflow: hidden;

}
.project-item-img img{
    width: 100%;
}
.project-item-img::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    top:0;
    left: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.project-item{
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
    transition: height 0.3s;
}
.project-item:hover .project-item-img::before{
    visibility: visible;
    opacity: 1;
}
.toplayer{
    position: absolute;
    top: 0;
    width: calc(100% - 60px);
    left: 30px;
    text-align: center;
    top: 30px;
    height: calc(100% - 60px);
}

.toplayer:before{
    content: '';
    position: absolute;
    border: 1px solid rgba(119, 190, 45, 0.6);
    -webkit-transform: scale(0);
    transform: scale(0);
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.project-item:hover .toplayer:before {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    width: 100%;
    height: 100%;
}
.toplayer .overlay{
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 2;
    left: 50%;
}
.toplayer .overlay .links a{
    width: 35px;
    height: 35px;
    color: #fff;
    background: #77be2d;
    display: inline-table;
    margin-right: 2px;
    opacity: 0;
    visibility: hidden;
}
.toplayer .overlay .links a:hover{
    background: #fff;
    color: #77be2d;
}
.toplayer .overlay .links h2.project-title a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #ffffff;
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 0px;
    opacity: 0;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    visibility: hidden;
    width: 100%;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
}
.project-item .links a {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}
.project-item:hover .links a{
    -webkit-transform: translate(0);
    transform: translate(0);
    visibility: visible;
    opacity: 1;
}
.toplayer .overlay .links span{
    vertical-align: middle;
    display: table-cell;
}
.project-item:hover .toplayer .overlay .links h2.project-title a {
    opacity: 1;
    width: 100%;
    visibility: visible;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}
.news-carousel .owl-item {
    padding: 0 15px;
}

.owl-slider .owl-controls, 
.news-carousel .owl-contro{
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 1;    
    transition: all 0.3s;
    -webkit-transition: all 0.3s;

}
.owl-slider .owl-controls {
    opacity: 1;
}

.owl-buttons {
    opacity: 1;
}

.owl-buttons i.fa {
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    color: #77be2d;
    background: #f5f5f5;
    text-align: center;
    cursor: pointer;
    font-size: 25px;
    top: 40%;
    position: absolute;
    
}
.owl-buttons i.fa:hover {
    background: #77be2d;
    color: #fff;
}
.owl-controls .owl-buttons div {
    font-size: 25px;
    background: none;
}
.owl-nav.owl-next{
    right: -100px;
}
.owl-page span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    border: 1px solid #fff;
    background: #fff;
    float: left;
}
.owl-pagination {
    width: 80px;
    margin: auto;
    margin-top: 40px;
    display: none;
}
.owl-prev {
    float: left;
}

.owl-next {
    float: right;
    margin-right: 36px;
}

.news-carousel .owl-buttons {
   margin: 0;
}

.owl-client .owl-controls {
    display: none;
    visibility: hidden;
    opacity: 0;
}
.pry1{
    opacity: 1; 
    display: block;
}
.pry2{
    height: 333px;
}
.pry3{
    width: 4152px; 
    left: 0px; 
    display: block; 
    transition: all 0ms ease 0s; 
    transform: translate3d(0px, 0px, 0px);
}
.w346{
    width: 346px;
}
