.top-bar {
    height: 50px;
    line-height: 50px;
    background: #555;
    color: #fff;
    font-size: 14px;
}
.tcontact{
    float: left;
}
.tcontact ul,.tsocial ul{
   margin: 0;
   padding: 0;
   list-style-type: none;
}
.tcontact ul li{
    display: inline-block;
}
.tcontact ul li i.bi{
    margin-right: 10px;
    color: #77be2d;
}
.tcontact ul li a{
    color: #fff;
    margin-right: 15px;
}
.tcontact ul li a:hover{
    color: #77be2d;
}
.tsocial{
    float: right;
}
.tsocial ul li{
   display: inline-block;
}
.tsocial ul li i.fa, .mrbi{
    margin-left: 10px;
}

.tsocial ul li i.fa:hover{
    color: #fff;
}